In [1]:
import pandas as pd
import numpy as np
import sys
import os

In [2]:
pd.options.display.max_columns = 20
pd.options.display.max_rows = 3

In [5]:
csv_file = "https://data.gov.lv/dati/dataset/e909312a-61c9-4cde-a72a-0a09dd75ef43/resource/d01a32c6-add8-4b8d-a013-0c35a3879564/download/eis_e_iepirkumi_rezultati_2021.csv"
df = pd.read_csv(csv_file,sep=';')

In [6]:
df

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Pasutitaja_PVS_ID,Augstak_stavosa_organizacija,Iepirkuma_statuss,Regulejasais_tiesibu_akts,...,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpildes_termins,Liguma_izpilde_no,Liguma_izpilde_līdz,Ligums_ir_vispariga_vienosanas,Liguma_dok_noslegsanas_datums,Liguma_dok_publicesanas_datums,Izbeigsanas_datums,Izbeigsanas_iemesls
0,"=""9246""","=""Būvniecības dokumentācijas izstrāde ielu, a...","=""DPD 2017/123""","=""Daugavpils pilsētas dome""","=""90000077325""","=""Personas kods/nodokļu maksātāja reģistrācij...","=""22678""","=""""","=""Līgums noslēgts""","=""Publisko iepirkumu likums""",...,"=""""","=""""","=""""","=""""","=""""","=""Nē""","=""20.03.2018""","=""26.10.2021""","=""""","="""""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,"=""68351""","=""SAP licenču uzturēšana""","=""VK 2021/07""","=""Valsts kase""","=""90000597275""","=""Personas kods/nodokļu maksātāja reģistrācij...","=""22674""","=""Finanšu ministrija""","=""Līgums noslēgts""","=""Publisko iepirkumu likums""",...,"=""""","=""""","=""""","=""""","=""""","=""Nē""","=""27.12.2021""","=""30.12.2021""","=""""","="""""

In [7]:
df.columns

Index(['Iepirkuma_ID', ' Iepirkuma_nosaukums',
       ' Iepirkuma_identifikacijas_numurs', ' Pasutitaja_nosaukums',
       ' Pasutitaja_registracijas_numurs',
       ' Pasutitaja_registracijas_numura_veids', ' Pasutitaja_PVS_ID',
       ' Augstak_stavosa_organizacija', ' Iepirkuma_statuss',
       ' Regulejasais_tiesibu_akts', ' Proceduras_veids',
       ' Hipersaite_EIS_kura_pieejams_zinojums',
       ' Hipersaite_uz_IUB_publikaciju', ' Ir_dalijums_dalas',
       ' Iepirkuma_dalas_nr', ' Iepirkuma_dalas_nosaukums',
       ' Iepirkuma_dalas_statuss', ' Uzvaretaja_nosaukums',
       ' Uzvaretaja_registracijas_numurs',
       ' Uzvaretaja_registracijas_numura_veids', ' Uzvaretaja_valsts',
       ' Liguma_dok_veids', ' Noslegta_liguma_dok_ID', ' Saistita_liguma_ID',
       ' Aktuala_liguma_summa', ' Aktuala_liguma_summas_valuta',
       ' Sakotneja_liguma_summa', ' Sakotneja_liguma_summas_valuta',
       ' Liguma_izpildes_termins', ' Liguma_izpilde_no',
       ' Liguma_izpilde_līdz', ' Ligums_ir_vispariga_vienosanas',
       ' Liguma_dok_noslegsanas_datums', ' Liguma_dok_publicesanas_datums',
       ' Izbeigsanas_datums', ' Izbeigsanas_iemesls'],
      dtype='object')

In [8]:
df = df[['Iepirkuma_ID',' Iepirkuma_nosaukums',' Iepirkuma_identifikacijas_numurs',' Pasutitaja_nosaukums',' Pasutitaja_registracijas_numurs',' Pasutitaja_registracijas_numura_veids',' Uzvaretaja_nosaukums',' Uzvaretaja_registracijas_numurs',' Uzvaretaja_registracijas_numura_veids',' Uzvaretaja_valsts',' Aktuala_liguma_summa',' Aktuala_liguma_summas_valuta',' Sakotneja_liguma_summa',' Sakotneja_liguma_summas_valuta',' Liguma_izpilde_no',' Liguma_izpilde_līdz']]

In [9]:
df.columns

Index(['Iepirkuma_ID', ' Iepirkuma_nosaukums',
       ' Iepirkuma_identifikacijas_numurs', ' Pasutitaja_nosaukums',
       ' Pasutitaja_registracijas_numurs',
       ' Pasutitaja_registracijas_numura_veids', ' Uzvaretaja_nosaukums',
       ' Uzvaretaja_registracijas_numurs',
       ' Uzvaretaja_registracijas_numura_veids', ' Uzvaretaja_valsts',
       ' Aktuala_liguma_summa', ' Aktuala_liguma_summas_valuta',
       ' Sakotneja_liguma_summa', ' Sakotneja_liguma_summas_valuta',
       ' Liguma_izpilde_no', ' Liguma_izpilde_līdz'],
      dtype='object')

In [10]:
df

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
0,"=""9246""","=""Būvniecības dokumentācijas izstrāde ielu, a...","=""DPD 2017/123""","=""Daugavpils pilsētas dome""","=""90000077325""","=""Personas kods/nodokļu maksātāja reģistrācij...","=""'Vertex projekti' SIA""","=""40003842450""","=""PVN maksātāja numurs""","=""LVA""","=""6910""","=""EUR""","=""""","=""""","=""""","="""""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,"=""68351""","=""SAP licenču uzturēšana""","=""VK 2021/07""","=""Valsts kase""","=""90000597275""","=""Personas kods/nodokļu maksātāja reģistrācij...","=""SIA “SAP Latvia”""","=""40003935375""","=""""","=""""","=""181800.7""","=""EUR""","=""""","=""""","=""""","="""""

In [11]:
df = df.applymap(lambda x: x.replace('=','').replace('"','').strip())

C:\Users\artur\AppData\Local\Temp\ipykernel_25420\3112674669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace('=','').replace('"','').strip())

In [12]:
df

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
0,9246,"Būvniecības dokumentācijas izstrāde ielu, auto...",DPD 2017/123,Daugavpils pilsētas dome,90000077325,Personas kods/nodokļu maksātāja reģistrācijas ...,'Vertex projekti' SIA,40003842450,PVN maksātāja numurs,LVA,6910,EUR,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,68351,SAP licenču uzturēšana,VK 2021/07,Valsts kase,90000597275,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA “SAP Latvia”,40003935375,,,181800.7,EUR,,,,

In [13]:
df.columns = df.columns.str.strip()

In [14]:
df.columns

Index(['Iepirkuma_ID', 'Iepirkuma_nosaukums',
       'Iepirkuma_identifikacijas_numurs', 'Pasutitaja_nosaukums',
       'Pasutitaja_registracijas_numurs',
       'Pasutitaja_registracijas_numura_veids', 'Uzvaretaja_nosaukums',
       'Uzvaretaja_registracijas_numurs',
       'Uzvaretaja_registracijas_numura_veids', 'Uzvaretaja_valsts',
       'Aktuala_liguma_summa', 'Aktuala_liguma_summas_valuta',
       'Sakotneja_liguma_summa', 'Sakotneja_liguma_summas_valuta',
       'Liguma_izpilde_no', 'Liguma_izpilde_līdz'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36352 entries, 0 to 36351
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Iepirkuma_ID                           36352 non-null  object
 1   Iepirkuma_nosaukums                    36352 non-null  object
 2   Iepirkuma_identifikacijas_numurs       36352 non-null  object
 3   Pasutitaja_nosaukums                   36352 non-null  object
 4   Pasutitaja_registracijas_numurs        36352 non-null  object
 5   Pasutitaja_registracijas_numura_veids  36352 non-null  object
 6   Uzvaretaja_nosaukums                   36352 non-null  object
 7   Uzvaretaja_registracijas_numurs        36352 non-null  object
 8   Uzvaretaja_registracijas_numura_veids  36352 non-null  object
 9   Uzvaretaja_valsts                      36352 non-null  object
 10  Aktuala_liguma_summa                   36352 non-null  object
 11  Aktuala_liguma_summas_valuta           36352 non-null  object
 12  Sakotneja_liguma_summa                 36352 non-null  object
 13  Sakotneja_liguma_summas_valuta         36352 non-null  object
 14  Liguma_izpilde_no                      36352 non-null  object
 15  Liguma_izpilde_līdz                    36352 non-null  object
dtypes: object(16)
memory usage: 4.4+ MB

In [16]:
df = df.replace(to_replace="",value = np.nan)

In [17]:
df

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
0,9246,"Būvniecības dokumentācijas izstrāde ielu, auto...",DPD 2017/123,Daugavpils pilsētas dome,90000077325,Personas kods/nodokļu maksātāja reģistrācijas ...,'Vertex projekti' SIA,40003842450,PVN maksātāja numurs,LVA,6910,EUR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,68351,SAP licenču uzturēšana,VK 2021/07,Valsts kase,90000597275,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA “SAP Latvia”,40003935375,NaN,NaN,181800.7,EUR,NaN,NaN,NaN,NaN

In [18]:
df = df.astype({'Iepirkuma_ID':int,'Aktuala_liguma_summa':float,'Sakotneja_liguma_summa':float})

In [19]:
df

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
0,9246,"Būvniecības dokumentācijas izstrāde ielu, auto...",DPD 2017/123,Daugavpils pilsētas dome,90000077325,Personas kods/nodokļu maksātāja reģistrācijas ...,'Vertex projekti' SIA,40003842450,PVN maksātāja numurs,LVA,6910.0,EUR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,68351,SAP licenču uzturēšana,VK 2021/07,Valsts kase,90000597275,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA “SAP Latvia”,40003935375,NaN,NaN,181800.7,EUR,NaN,NaN,NaN,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36352 entries, 0 to 36351
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Iepirkuma_ID                           36352 non-null  int32
 1   Iepirkuma_nosaukums                    36352 non-null  object
 2   Iepirkuma_identifikacijas_numurs       36352 non-null  object
 3   Pasutitaja_nosaukums                   36352 non-null  object
 4   Pasutitaja_registracijas_numurs        36352 non-null  object
 5   Pasutitaja_registracijas_numura_veids  36352 non-null  object
 6   Uzvaretaja_nosaukums                   36352 non-null  object
 7   Uzvaretaja_registracijas_numurs        35924 non-null  object
 8   Uzvaretaja_registracijas_numura_veids  34524 non-null  object
 9   Uzvaretaja_valsts                      34952 non-null  object
 10  Aktuala_liguma_summa                   33480 non-null  float64
 11  Aktuala_liguma_summas_valuta           33480 non-null  object
 12  Sakotneja_liguma_summa                 0 non-null      float64
 13  Sakotneja_liguma_summas_valuta         0 non-null      float64
 14  Liguma_izpilde_no                      3189 non-null   object
 15  Liguma_izpilde_līdz                    3089 non-null   object
dtypes: float64(3), int32(1), object(12)
memory usage: 4.3+ MB

In [27]:
df.Liguma_izpilde_no = pd.to_datetime(df.Liguma_izpilde_no,dayfirst = True,errors = 'coerce')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36352 entries, 0 to 36351
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Iepirkuma_ID                           36352 non-null  int32
 1   Iepirkuma_nosaukums                    36352 non-null  object
 2   Iepirkuma_identifikacijas_numurs       36352 non-null  object
 3   Pasutitaja_nosaukums                   36352 non-null  object
 4   Pasutitaja_registracijas_numurs        36352 non-null  object
 5   Pasutitaja_registracijas_numura_veids  36352 non-null  object
 6   Uzvaretaja_nosaukums                   36352 non-null  object
 7   Uzvaretaja_registracijas_numurs        35924 non-null  object
 8   Uzvaretaja_registracijas_numura_veids  34524 non-null  object
 9   Uzvaretaja_valsts                      34952 non-null  object
 10  Aktuala_liguma_summa                   33480 non-null  float64
 11  Aktuala_liguma_summas_valuta           33480 non-null  object
 12  Sakotneja_liguma_summa                 0 non-null      float64
 13  Sakotneja_liguma_summas_valuta         0 non-null      float64
 14  Liguma_izpilde_no                      3189 non-null   datetime64[ns]
 15  Liguma_izpilde_līdz                    3089 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), object(11)
memory usage: 4.3+ MB

In [29]:
df.Liguma_izpilde_no.value_counts()

Liguma_izpilde_no
2022-01-01    162
             ...
2022-02-01      1
Name: count, Length: 374, dtype: int64

In [30]:
df.Liguma_izpilde_līdz = pd.to_datetime(df.Liguma_izpilde_līdz,dayfirst=True,errors='coerce')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36352 entries, 0 to 36351
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Iepirkuma_ID                           36352 non-null  int32
 1   Iepirkuma_nosaukums                    36352 non-null  object
 2   Iepirkuma_identifikacijas_numurs       36352 non-null  object
 3   Pasutitaja_nosaukums                   36352 non-null  object
 4   Pasutitaja_registracijas_numurs        36352 non-null  object
 5   Pasutitaja_registracijas_numura_veids  36352 non-null  object
 6   Uzvaretaja_nosaukums                   36352 non-null  object
 7   Uzvaretaja_registracijas_numurs        35924 non-null  object
 8   Uzvaretaja_registracijas_numura_veids  34524 non-null  object
 9   Uzvaretaja_valsts                      34952 non-null  object
 10  Aktuala_liguma_summa                   33480 non-null  float64
 11  Aktuala_liguma_summas_valuta           33480 non-null  object
 12  Sakotneja_liguma_summa                 0 non-null      float64
 13  Sakotneja_liguma_summas_valuta         0 non-null      float64
 14  Liguma_izpilde_no                      3189 non-null   datetime64[ns]
 15  Liguma_izpilde_līdz                    3089 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int32(1), object(10)
memory usage: 4.3+ MB

In [32]:
# pārbaudīt duplikātus
df[df.duplicated()]

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
3,9449,Augsnes gatavošanas un meža dabiskās atjaunoša...,AS LVM MS MK_2017_417_Ak,Latvijas valsts meži,40003466281,Personas kods/nodokļu maksātāja reģistrācijas ...,'Kursa MRU' SIA,41203004909,PVN maksātāja numurs,LVA,0.0,EUR,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36305,67418,Mazlietota automobiļa piegāde Nautrēnu apvien...,NAP 2021/22,Rēzeknes novada pašvaldības iestāde 'Nautrēnu ...,40900027430,PVN maksātāja numurs,'DARDEDZE K' SIA,40003338395,PVN maksātāja numurs,LVA,25690.0,EUR,NaN,NaN,NaT,NaT

In [33]:
df[df.duplicated(subset = ['Pasutitaja_nosaukums', 'Pasutitaja_registracijas_numurs'],keep='first')]

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz
3,9449,Augsnes gatavošanas un meža dabiskās atjaunoša...,AS LVM MS MK_2017_417_Ak,Latvijas valsts meži,40003466281,Personas kods/nodokļu maksātāja reģistrācijas ...,'Kursa MRU' SIA,41203004909,PVN maksātāja numurs,LVA,0.0,EUR,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36351,68351,SAP licenču uzturēšana,VK 2021/07,Valsts kase,90000597275,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA “SAP Latvia”,40003935375,NaN,NaN,181800.7,EUR,NaN,NaN,NaT,NaT

In [34]:
df = df.drop_duplicates().reset_index(drop = True)

In [35]:
df[df.duplicated()]

Empty DataFrame
Columns: [Iepirkuma_ID, Iepirkuma_nosaukums, Iepirkuma_identifikacijas_numurs, Pasutitaja_nosaukums, Pasutitaja_registracijas_numurs, Pasutitaja_registracijas_numura_veids, Uzvaretaja_nosaukums, Uzvaretaja_registracijas_numurs, Uzvaretaja_registracijas_numura_veids, Uzvaretaja_valsts, Aktuala_liguma_summa, Aktuala_liguma_summas_valuta, Sakotneja_liguma_summa, Sakotneja_liguma_summas_valuta, Liguma_izpilde_no, Liguma_izpilde_līdz]
Index: []

In [38]:
# df.columns
df.Aktuala_liguma_summas_valuta.value_counts()

Aktuala_liguma_summas_valuta
EUR     23232
LATI        6
Name: count, dtype: int64

In [39]:
v = {'EUR':1, 'LATI':0}
df.loc[:,'is_EUR'] = df.Aktuala_liguma_summas_valuta.map(v)

In [40]:
df.head(10)

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz,is_EUR
0,9246,"Būvniecības dokumentācijas izstrāde ielu, auto...",DPD 2017/123,Daugavpils pilsētas dome,90000077325,Personas kods/nodokļu maksātāja reģistrācijas ...,'Vertex projekti' SIA,40003842450,PVN maksātāja numurs,LVA,6910.0,EUR,NaN,NaN,NaT,NaT,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,9641,Elektroenerģijas piegāde Jelgavas pilsētas paš...,JPD2017/137/AK,Jelgavas pilsētas dome,90000042516,Personas kods/nodokļu maksātāja reģistrācijas ...,'Ignitis Latvija ' SIA (ex. 'Geton Energy' SIA),40103642991,PVN maksātāja numurs,LVA,NaN,NaN,NaN,NaN,NaT,NaT,NaN

In [43]:
csv_file2 = 'https://data.gov.lv/dati/dataset/e909312a-61c9-4cde-a72a-0a09dd75ef43/resource/8e004700-c5b7-4307-b037-678be0d8460c/download/eis_e_iepirkumi_rezultati_2023.csv'
df2 = pd.read_csv(csv_file2,sep=';')

In [44]:
df2

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Pasutitaja_PVS_ID,Augstak_stavosa_organizacija,Iepirkuma_statuss,Regulejasais_tiesibu_akts,...,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpildes_termins,Liguma_izpilde_no,Liguma_izpilde_līdz,Ligums_ir_vispariga_vienosanas,Liguma_dok_noslegsanas_datums,Liguma_dok_publicesanas_datums,Izbeigsanas_datums,Izbeigsanas_iemesls
0,8280,Par servertehnikas piegādi Elektronisko iepirk...,VRAA 2014/41/AK/CI-92,Valsts reģionālās attīstības aģentūra,90001733697,Personas kods/nodokļu maksātāja reģistrācijas ...,22976.0,Vides aizsardzības un reģionālās attīstības mi...,Noslēgts,Publisko iepirkumu likums (spēka līdz 28.02.2017),...,NaN,NaN,Laika periods,03.01.2017,02.01.2020,Jā,27.12.2016,29.06.2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42528,114574,Profesionālo medicīnisko displeju un videokarš...,RAKUS 2023/141S/ERAF,Rīgas Austrumu klīniskā universitātes slimnīca,40003951628,Personas kods/nodokļu maksātāja reģistrācijas ...,23183.0,NaN,Līgums noslēgts,Publisko iepirkumu likums,...,NaN,NaN,Laika periods,27.12.2023,26.12.2028,Nē,27.12.2023,29.12.2023,NaN,NaN

In [45]:
df2.columns

Index(['Iepirkuma_ID', 'Iepirkuma_nosaukums',
       'Iepirkuma_identifikacijas_numurs', 'Pasutitaja_nosaukums',
       'Pasutitaja_registracijas_numurs',
       'Pasutitaja_registracijas_numura_veids', 'Pasutitaja_PVS_ID',
       'Augstak_stavosa_organizacija', 'Iepirkuma_statuss',
       'Regulejasais_tiesibu_akts', 'Proceduras_veids',
       'Hipersaite_EIS_kura_pieejams_zinojums',
       'Hipersaite_uz_IUB_publikaciju', 'Ir_dalijums_dalas',
       'Iepirkuma_dalas_nr', 'Iepirkuma_dalas_nosaukums',
       'Iepirkuma_dalas_statuss', 'Uzvaretaja_nosaukums',
       'Uzvaretaja_registracijas_numurs',
       'Uzvaretaja_registracijas_numura_veids', 'Uzvaretaja_valsts',
       'Liguma_dok_veids', 'Noslegta_liguma_dok_ID', 'Saistita_liguma_ID',
       'Aktuala_liguma_summa', 'Aktuala_liguma_summas_valuta',
       'Sakotneja_liguma_summa', 'Sakotneja_liguma_summas_valuta',
       'Liguma_izpildes_termins', 'Liguma_izpilde_no', 'Liguma_izpilde_līdz',
       'Ligums_ir_vispariga_vienosanas', 'Liguma_dok_noslegsanas_datums',
       'Liguma_dok_publicesanas_datums', 'Izbeigsanas_datums',
       'Izbeigsanas_iemesls'],
      dtype='object')

In [46]:
df2 = df2[['Iepirkuma_ID', 'Iepirkuma_nosaukums','Iepirkuma_identifikacijas_numurs', 'Pasutitaja_nosaukums','Pasutitaja_registracijas_numurs','Pasutitaja_registracijas_numura_veids','Uzvaretaja_nosaukums','Uzvaretaja_registracijas_numurs','Uzvaretaja_registracijas_numura_veids', 'Uzvaretaja_valsts','Aktuala_liguma_summa', 'Aktuala_liguma_summas_valuta','Sakotneja_liguma_summa', 'Sakotneja_liguma_summas_valuta','Liguma_izpilde_no','Liguma_izpilde_līdz']]

In [47]:
df2.columns

Index(['Iepirkuma_ID', 'Iepirkuma_nosaukums',
       'Iepirkuma_identifikacijas_numurs', 'Pasutitaja_nosaukums',
       'Pasutitaja_registracijas_numurs',
       'Pasutitaja_registracijas_numura_veids', 'Uzvaretaja_nosaukums',
       'Uzvaretaja_registracijas_numurs',
       'Uzvaretaja_registracijas_numura_veids', 'Uzvaretaja_valsts',
       'Aktuala_liguma_summa', 'Aktuala_liguma_summas_valuta',
       'Sakotneja_liguma_summa', 'Sakotneja_liguma_summas_valuta',
       'Liguma_izpilde_no', 'Liguma_izpilde_līdz'],
      dtype='object')

In [48]:
df2.columns = df2.columns.str.strip()

In [50]:
df['YEAR'] = 2021

In [54]:
df2

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz,YEAR
0,8280,Par servertehnikas piegādi Elektronisko iepirk...,VRAA 2014/41/AK/CI-92,Valsts reģionālās attīstības aģentūra,90001733697,Personas kods/nodokļu maksātāja reģistrācijas ...,'Adaptive' SIA,40103816308,PVN maksātāja numurs,LVA,35550000.00,EUR,NaN,NaN,03.01.2017,02.01.2020,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42528,114574,Profesionālo medicīnisko displeju un videokarš...,RAKUS 2023/141S/ERAF,Rīgas Austrumu klīniskā universitātes slimnīca,40003951628,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA 'Arbor Medical Korporācija',40003547099,NaN,LVA,298719.96,EUR,NaN,NaN,27.12.2023,26.12.2028,2023

In [55]:
df.shape[0]+df2.shape[0]

67452

In [56]:
pd.concat([df,df2])

,Iepirkuma_ID,Iepirkuma_nosaukums,Iepirkuma_identifikacijas_numurs,Pasutitaja_nosaukums,Pasutitaja_registracijas_numurs,Pasutitaja_registracijas_numura_veids,Uzvaretaja_nosaukums,Uzvaretaja_registracijas_numurs,Uzvaretaja_registracijas_numura_veids,Uzvaretaja_valsts,Aktuala_liguma_summa,Aktuala_liguma_summas_valuta,Sakotneja_liguma_summa,Sakotneja_liguma_summas_valuta,Liguma_izpilde_no,Liguma_izpilde_līdz,is_EUR,YEAR
0,9246,"Būvniecības dokumentācijas izstrāde ielu, auto...",DPD 2017/123,Daugavpils pilsētas dome,90000077325,Personas kods/nodokļu maksātāja reģistrācijas ...,'Vertex projekti' SIA,40003842450,PVN maksātāja numurs,LVA,6910.00,EUR,NaN,NaN,NaN,NaN,1.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42528,114574,Profesionālo medicīnisko displeju un videokarš...,RAKUS 2023/141S/ERAF,Rīgas Austrumu klīniskā universitātes slimnīca,40003951628,Personas kods/nodokļu maksātāja reģistrācijas ...,SIA 'Arbor Medical Korporācija',40003547099,NaN,LVA,298719.96,EUR,NaN,NaN,27.12.2023,26.12.2028,NaN,2023

In [59]:
df_papildus = pd.DataFrame(df2['Pasutitaja_registracijas_numurs'].value_counts())
df_papildus

                                 count
Pasutitaja_registracijas_numurs
40003466281                       2988
...                                ...
40008017804                          1

[514 rows x 1 columns]

In [60]:
df_papildus.columns

Index(['count'], dtype='object')

In [61]:
df_papildus = df_papildus.rename(columns = {'Pasutitaja_registracijas_numurs':'iepirkumu_skaits_2023'})

In [62]:
df_papildus

                                 count
Pasutitaja_registracijas_numurs
40003466281                       2988
...                                ...
40008017804                          1

[514 rows x 1 columns]