In [3]:
# Parametri ar noklusetam vertibam

def addtwo(a = 2, b= 3):
    result = a + b
    print(f"a ir {a}\nb ir {b}")
    return print(result)
addtwo()

a ir 2
b ir 3
5

## Pandas ir ātrs, jaudīgs un viegli lietojams atvērtā koda datu analīzes un manipulācijas rīks veidots uz Python programmēšanas valodas bāzes.

### Tas ir ETL rīks

In [1]:
import pandas as pd

In [4]:
a = [1,2,3,4,7]

pandas_ser = pd.Series(a)
pandas_ser

0    1
1    2
2    3
3    4
4    7
dtype: int64

In [7]:
pandas_ser[3]
pandas_ser[4]

7

In [8]:
a = ['h', 'g','r', 't']

b = [1,2,3,4]

test_data = pd.Series(data = a, index = b)
test_data

1    h
2    g
3    r
4    t
dtype: object

In [9]:
test_data[2]

'g'

In [11]:
test_data = pd.Series(data = a, index= ['h', 'gdd','rrrr', 't'])
test_data

h       h
gdd     g
rrrr    r
t       t
dtype: object

In [13]:
test_data['rrrr']

'r'

In [16]:
len(test_data)
a = range(1, 11)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
pd.Series(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
data = pd.Series(a)
data

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
data+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [21]:
data*3

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

In [31]:
data[0]

1

In [32]:
data[data[5:7]].reset_index(drop=True)
# list(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [35]:
max(data)

10

In [36]:
sum(data)

55

In [37]:
sorted(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
sorted(data , reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
str_series = ['b','c','d', 'e']
data_str = pd.Series(str_series)

data_str

0    b
1    c
2    d
3    e
dtype: object

In [41]:
data_str*6

0    bbbbbb
1    cccccc
2    dddddd
3    eeeeee
dtype: object

In [42]:
data_str > 'b'

0    False
1     True
2     True
3     True
dtype: bool

In [43]:
type(data_str)

pandas.core.series.Series

In [44]:
# Pandas Series properties, kas var noder'et.

data_str.values

array(['b', 'c', 'd', 'e'], dtype=object)

In [45]:
data_str.index

RangeIndex(start=0, stop=4, step=1)

In [47]:
data.size

10

In [49]:
data.lt(5) # Mazaks vai vienads par 5

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [50]:
data.gt(5)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [54]:
data.ge(5)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [56]:
data.min()

1

In [57]:
min(data)

1

In [58]:
data[0]

1

In [59]:
data.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [60]:
data.head(2)

0    1
1    2
dtype: int64

In [61]:
data[2:5]

2    3
3    4
4    5
dtype: int64

In [62]:
test_data

h       h
gdd     g
rrrr    r
t       t
dtype: object

In [65]:
test_data[0:2]

h      h
gdd    g
dtype: object

In [72]:
print('Loading libs')
import os

import datetime as dt
import sys
from datetime import datetime, timedelta

os.listdir()

Loading libs

['07.ipynb', 'timesheet.csv']

In [73]:
df_H0 = pd.read_csv('timesheet.csv')

df_H0.tail()

     Start Date Start Time    End Date  End Time Duration (h)
365  27/05/2021   13:15:27  27/05/2021  13:27:08     00:11:41
366  27/05/2021   13:28:52  27/05/2021  13:44:37     00:15:45
367  28/05/2021   08:50:09  28/05/2021  09:17:06     00:26:57
368  28/05/2021   09:17:35  28/05/2021  09:55:18     00:37:43
369  28/05/2021   13:30:26  28/05/2021  13:56:59     00:26:33

In [74]:
df_H0.describe() # Aprakstosa statistika

        Start Date Start Time    End Date  End Time Duration (h)
count          370        370         370       370          370
unique          19        336          19       353          343
top     26/05/2021   14:00:00  26/05/2021  12:00:00     00:18:00
freq            34         10          34         3            4

In [76]:
df_H0.info()

df[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Start Date    370 non-null    object
 1   Start Time    370 non-null    object
 2   End Date      370 non-null    object
 3   End Time      370 non-null    object
 4   Duration (h)  370 non-null    object
dtypes: object(5)
memory usage: 14.6+ KB

NameError: name 'df' is not defined