In [1]:
l5 = [4,55,"u",3,True,3,"ss"]

for el in l5:
    print(el, sep="\n", end="\n")

4
55
u
3
True
3
ss

In [1]:
# def sum_of_squares(*args_description):
def sum_of_squares(*args):
    result = 0
    result = 0
    for n in args:
        result = result + n**2
    return result

sum_of_squares(44,55,66)

9317

In [26]:
# Alternative execution without *args

my_num = [1,2,3]

def alt_sum_of_square(num_list):
    result = 0
    for el in num_list:
        result = result +el**2
    return result

alt_sum_of_square(my_num)

type(my_num) == list

True

In [16]:
'very' * 3

'very' + 'very' + 'very' + 'very'

'a' + '7'

['a', '7'] * 3


def print_this(n, *args, sentiment = "positive"):
    if sentiment == "positive":
        my_str = "I like " + ",".join(args) + " very"*n + " much"
    else:
        my_str = "I don't like " + ",".join(args) + " very"*n + " much"
    print(my_str)


print_this(2, "bananas", "mango")

print_this(5, "bananas", "mango", sentiment="negative")

I like bananas,mango very very much
I don't like bananas,mango very very very very very much

In [17]:
# Lokalais mainigais - mainigai kas tiek definets funkcija un darbojas tikai funkcija

m = ()
def func1():
    m = 1
    print("1st", m)

func1()
print("2nd", m)

1st 1

In [18]:
m2 = 3
def func2():
    m2 = m2 +3 # bus konflikts jo lokala vertiba konflikte ar globalo
    print(m2)
    
func2()

UnboundLocalError: cannot access local variable 'm2' where it is not associated with a value

In [21]:
m3 = 0

def func3():
    m3 = 1
    print(f"Funkcijas mainigais m: {m3}")

func3()

Funkcijas mainigais m: 1

In [38]:
global_var = 0

def func4():
    global global_var
    global_var = global_var + 1

print(global_var)

func4()
print(global_var)

0
1

In [42]:
new_list = list()

old_list = [1, 5, 4, 5, 7, 8, 5]

for el in old_list:
    new = el**2
    new_list = new_list + [new]
    print("new list ", new_list)
    
new_list

new list  [1]
new list  [1, 25]
new list  [1, 25, 16]
new list  [1, 25, 16, 25]
new list  [1, 25, 16, 25, 49]
new list  [1, 25, 16, 25, 49, 64]
new list  [1, 25, 16, 25, 49, 64, 25]

[1, 25, 16, 25, 49, 64, 25]

# Lambda funkcijas
    Lambda funkcija - beznosaukuma jeb anonima funkcija ar 1 vai vairakiem argumentiem un vienu izteiksmi. Ta nevar saturet koda bloku.

    Anonima lambda funkcija neaiznem vietu atmina!

    Sintakse - lambda par1, par2

# map, reduce, filter, zip

  map funkciju pielieto lai noteiktu funkciju katram virknes elementam. Sintakse map(funkcija, virkne(es))

In [43]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [17]:
# Klasisko pierakstu 

my_list = [1, 2, 3, 4, 5, 6, 6]
new_list = []

for x in my_list:
    new_list.append(x**2)
    print(new_list)
    
print("--------")
print(new_list)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 36]
--------
[1, 4, 9, 16, 25, 36, 36]

In [54]:
# Izmantosim map funkciju

def squared(x):
    return x ** 2

map(squared, my_list)

my_list

[1, 2, 3, 4, 5, 6, 6]

In [55]:
list(map(lambda x: x**2, range(1,5)))

[1, 4, 9, 16]

In [56]:
list(map(pow, [2,2,2,2,2,2,2,2,2,2], [0,1,2,3,4,5,6,7,8,9]))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [58]:
# Alternativs pieraksts

list(map(pow, [2]*len(range(10)), range(10)))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [9]:
def func6(x, y):
    return list(map(pow, [x]* len(range(y + 1)), range(y + 1)))

func6(4,11)

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576, 4194304]

In [10]:
my_strings = ["dita", "jurita", "eva", "valentina"]

list(map(str.capitalize, my_strings))

NameError: name 'my_strings' is not defined

In [15]:
def squared(x):
    return x ** 2

squared(12)

144

In [18]:
list(map(squared, my_list[1:4+1]))

[4, 9, 16, 25]

In [19]:
L = [1, 2, 3, 4, 5]

new_list = [el*el for el in L]
new_list

[1, 4, 9, 16, 25]

In [21]:
L = [1, 2, 3, 4, 5]
new_list = []

for el in L:
    new_list.append(el**2)

print(new_list)

[1, 4, 9, 16, 25]

## Enumarate

In [26]:
produkti = ["piens", "sviests", "olas", "lasis"]

# produkti[1]
# produkti.index("piens")

list(enumerate(produkti))

0

## zip

In [28]:
produkti = ["piens", "sviests", "olas", "lasis"]
sk = [0, 1, 2, 3]

list(zip(sk, produkti))

[(0, 'piens'), (1, 'sviests'), (2, 'olas'), (3, 'lasis')]

In [30]:
produkti = ["piens", "sviests", "olas", "lasis"]
sk = [0, 1, 2, 3]

list(enumerate(zip(sk,produkti)))

[(0, (0, 'piens')), (1, (1, 'sviests')), (2, (2, 'olas')), (3, (3, 'lasis'))]

In [34]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

my_zip = list(zip(list1, list2, list3))
my_zip

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [35]:
for i, kg, kalis in my_zip:
    print(i, kg, kalis, "To summa = ", i, kg, kalis)

1 4 7 To summa =  1 4 7
2 5 8 To summa =  2 5 8
3 6 9 To summa =  3 6 9

In [36]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

for i in list1:
    for j in list2:
        for k in list3:
            print(i, "and", j , "and", k )

1 and 4 and 7
1 and 4 and 8
1 and 4 and 9
1 and 5 and 7
1 and 5 and 8
1 and 5 and 9
1 and 6 and 7
1 and 6 and 8
1 and 6 and 9
2 and 4 and 7
2 and 4 and 8
2 and 4 and 9
2 and 5 and 7
2 and 5 and 8
2 and 5 and 9
2 and 6 and 7
2 and 6 and 8
2 and 6 and 9
3 and 4 and 7
3 and 4 and 8
3 and 4 and 9
3 and 5 and 7
3 and 5 and 8
3 and 5 and 9
3 and 6 and 7
3 and 6 and 8
3 and 6 and 9

In [37]:
sar1 = [1,2,3,4,5]
sar2 = ["a", "b", "c"]

list(zip(sar2,sar1))

[('a', 1), ('b', 2), ('c', 3)]

In [42]:
sar1 = [1,2,3,4,5]
sar2 = ["a", "b", "c"]
type({k: v for k,v in zip(sar2, sar1)})

dict

In [46]:
# vai vel vienkarsak

dict(zip(sar2, sar1))

{'a': 1, 'b': 2, 'c': 3}

# Python moduli, bibliotekam.

In [51]:
from random import choice as ch
import os
import numpy as np
import pandas as pd
import datetime
# import seaborn as sn
# import mat

In [68]:
word_list = ["kosmonauts", "sintezators", "hipototams", "aprikoze", "abols"]

word = ch(word_list)
print(f"j훮atmin v훮rds: {word}")

j훮atmin v훮rds: hipototams

## Class - instrukcija ka izskatisies objekts.

In [80]:
class MyClass:
    a = 9

c1 = MyClass() # taisam objektu no instrukcijas MyClass, konstruktors uztaisa objektu c1
c1.a

9

In [82]:
class Persona: # class instrukcija objektam
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
#           konstruktors
#           /
#          /
#         /
#        /
#       /
#      \/
p1 = Persona("Janis", 40)
print(p1.name)
print(p1.age)

Janis